@import 'variables';

.text-white{
  color: white;
}

.text-black{
  color: black;
}

.text-bold{
  font-weight: bold;
}

.text-bolder{
  font-weight: bolder;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-color-secondary{
  color: $secondary-color;
}