@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:wght@400;500;600;700;800&display=swap');

$primary-color: #4A90E2;
$primary-color-alt: #2275D3;
$secodnary-color: #50E3C2;
$tertiary-color: #FF6F61;

$primary-font: 'Inter', sans-serif;