@import 'variables';
@import 'base';
@import 'layout';
@import 'utilities';

// Components
@import 'components/card';
@import 'components/footer';
@import 'components/navbar';



.hero{
  padding: 5em;
  margin: auto;
}

.hero__text{
  font-size: 1.75rem;
  line-height: 2.5rem;
  text-align: center;

}

.hero__text-name{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: $primary-color

}

