<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/_utilities.css">
  <script src="https://kit.fontawesome.com/486f49196e.js" crossorigin="anonymous"></script>
</head>
<body>
  <template id="footer-template">
    <footer class="footer-container">
      <div class="container">
        
      </div>
      <div class="footer-children footer-child-1">
        <div>
          <p class="footer__text footer__text-large">Sam Jemuelle Quiambao</p>
        </div>

        <div class="footer__external-links-container">
          <div>
            <i class="fa-solid fa-envelope fa-lg" style="color: #ffffff;"></i>
          </div>
          <div>
            <a href="mailto:samjquiambao@gmail.com" class="footer__text">samjquiambao@gmail.com</a>
          </div>
        </div>

        <div class="footer__external-links-container">
          <div>
            <i class="fa-brands fa-square-github fa-lg" style="color: #ffffff;"></i>
          </div>
          <div>
            <a href="https://github.com/Jemuelle4" target="_blank" class="footer__text">@Jemuelle4</a>
          </div>
        </div>

      </div>

      <div class="footer-children footer-child-2">
        <div>
          <p class="footer__text text-center">Committed to collaboration, usability, and inclusivity to create satisfying, effortless experiences</p>
        </div>
        <div>
          <p class="footer__copyright text-center">&copy; 2024. Custom made by Sam Jemuelle Quiambao. </p>
        </div>

      </div>

      <div class="footer-children footer-child-3">
        <div class="text-left">
          <p class="footer__text footer__text-large">Portfolio</p>
          <a href="#" class="footer__text link-margin">Projects</a>
          <a href="#" class="footer__text link-margin">About</a>
        </div>



      </div>


    </footer>
  </template>
  


</body>
</html>


