<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <template id="navbar-template">
    <nav class="navbar-container">
      <div class="navbar__logo">
        <a class="navbar__logo-text" href="#">Sam Quiambao</a>
      </div>
      <div class="navbar__links-container">
        <a class="navbar__links" href="#home">Home</a>
        <a class="navbar__links" href="#about">About</a>
        <a class="navbar__links" href="#resume">Resume</a>
        <a class="navbar__links" href="#contact">Contact</a>
      </div>
    </nav>
  </template>
  
</body>
</html>


